body {
    font-family: 'Fira Code', 'Roboto Mono', 'Menlo', 'Courier', 'Courier New', monospace;
    font-size: 16px;
    /*background: rgb(105, 117, 88);*/
    /*background: #0d0f0b;*/
    background: #1a1d16;
    color: #0f0f0f;
}

p {
    margin-bottom: 20px;
    line-height: 1.2;
}

b {
    font-weight: bold;
}

a:link, a:visited {
    color: #697558;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    transition: .2s ease;
    color: #0f0f0f;
    background: rgba(255, 255, 255, 0.8);
}

h2 {
    color: #1a1d16;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 24px;
    text-transform: lowercase;
}

h2:before { content: "\\ "; }

h3 {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
    text-transform: lowercase;
    text-align: center;
}

h3:before { content: "---- "; font-weight: normal; }
h3:after { content: " ----"; font-weight: normal; }
/*h3:after { content: " ---"; font-weight: normal; }*/

h4 {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
}

h4 a {
    color: #0f0f0f !important;
}

h5 {
    color: #697558;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
    padding-left: 0;
}

h6 {
    margin-left: 15px;
    margin-bottom: 2px;
    font-size: 14px;
    font-weight: bold;
}

b { font-weight: bold; }

i { font-style: italic; }

.skills h3 {
    margin-bottom: 0;
}

.experience-list > li {
    margin-bottom: 30px;
}
.experience-list p {
    margin-left: 15px;
    font-size: 13px;
    margin-bottom: 15px;
}

.period {
    float: right;
    text-align: right;
    font-weight: lighter;
    font-size: 14px;
}

.experience-sublist {
    margin: 0 0 15px 15px;
    font-size: 13px;
}
.experience-sublist li {
    margin-top: 0;
    margin-bottom: 5px;
    list-style: square outside;
}
.inside-sublist li {
    list-style-position: inside;
}

.column-sublist {
    margin: 0 0 15px 0;
    font-size: 12px;
}

.column-sublist > div:last-child {
    padding-right: 0;
}

.skill-list {
    margin-bottom: 15px;
}

.skill-list .col-sm-1 {
    padding-left: 0;
}

.project-list li, .project-list li p:last-child {
    margin-bottom: 15px;
}
.project-list img {
    margin-bottom: 15px;
}

.lang-label { font-size:  12px; color: #697558; }
.level-bars {
    text-align: right;
}
.gray {
    color: rgba(105, 117, 88, 0.5);
}

.music > p {
    font-size: 16px !important;
}

.music img {
    margin-bottom: 10px;
}

.music .experience-sublist li {
    margin: 0;
}

.music-videos {
    font-size: 12px !important;
}

.music-videos li {
    margin-top: 10px;
}

.music-videos p {
    margin-top: 10px;
}

#main-content section {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.3;
}

.music > section {
    margin-bottom: 10px !important;
}

#main {
    width: 100%;
    max-width: 800px;
    position: relative;
    /*top: 30%;
    left: 50%;
    -ms-transform: translate(-50%, -30%);
    transform: translate(-50%, -30%);*/
    margin: 0 auto;
    clear: both;
}

#main-header {
    color: #f5f5f5;
    width: 25%;
    background: #cfcfcf;
    background: url(../img/bahai-haifa.jpg);
    height: 450px;
    background-size: cover;
    background-position: bottom center;
    position: absolute;
    top: 40px;
}

#main-header.fixed {
    width: 200px;
    position: fixed;
    margin: 0;
    top: 0;
}

@media (max-width: 800px) {
    #main-header.fixed {
        width: 25%;
    }
}

#main-header h1 {
    letter-spacing: 0;
    word-spacing: 999px;
    font-size: 40px;
    text-transform: lowercase;
    line-height: 1;
    color: #FCF4E9;
    position: relative;
    text-align: left;
}

#main-header h1 a {
    color: #FCF4E9;
    font-weight: normal;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 20px 0;
    padding-left: 20px;
    background: rgba(0, 0, 0, .4);
}

#main-header h1 a:before {
    content: ">>";
}

@keyframes blinking {
    50% { color: transparent; }
}

#main-header h1 a:after {
    content: "_";
    animation: blinking 2s step-end infinite;
}

#main-header h1 a:hover {
    transition: .25s ease;
    background: rgba(255, 255, 255, .6);
    color: #0f0f0f;
}

#main-header img {
    display: none;
}

#main-content {
    min-height: 450px;
    padding: 25px;
    padding-bottom: 10px;
    margin-left: 25%;
    background-color: #DFE1CC;
    color: #000;
}

#navigation {
    padding: 10px 10px 5px 15px;
    height: 25px;
    margin-left: 25%;
    margin-top: 25px;
    margin-bottom: 15px;
    position: relative;
    font-weight: lighter;
}

#sections {
    text-align: right;
}

#navigation li {
    display: inline-block;
    text-transform: lowercase;
    margin: 0;
}

#navigation a {
    text-decoration: none;
    color: #DFE1CC;
    font-weight: lighter;
}

#navigation a:hover {
    color: #0f0f0f;
}

#navigation li:after {
    content: " \\ ";
    color: #DFE1CC;
}

#navigation li:last-child:after {
    content: none;
}

#navigation li.selected a {
    color: #0f0f0f;
    background: rgba(255, 255, 255, .8);
}

#social {
    position: absolute;
    left: 25px;
    top: 10px;
    width: 25%;
}

#social li {
    padding-left: 2px;
}

#social li:after {
    content: none;
}

#social a:hover {
    color: #697558;
    background: none;
}

#footer {
    width: 100%;
    text-align: right;
    padding: 10px 0;
    font-size: 10px;
    color: #DFE1CC;
    margin-bottom: 10px;
}
#footer a {
    color: #DFE1CC;
    margin-right: 10px;
}
#footer a:hover {
    color: #0f0f0f;
}
