/* Global Styles */
body {
    font-family: 'Fira Code', 'Roboto Mono', 'Menlo', 'Courier', 'Courier New', monospace;
    font-size: 16px;
    /*background: rgb(105, 117, 88);*/
    /*background: #0d0f0b;*/
    background: #1a1d16;
    color: #0f0f0f;
}

p {
    margin-bottom: 20px;
    line-height: 1.2;
}

b { font-weight: bold; }

i { font-style: italic; }

/* old link color: 697558;
616C8C blue
6A7599
#007779 love blue
D94A3D red
B14C00

46563B -> darker green [ might be good for h5]
9F4FA2
#BF5111
99410E
80360B
7F5140
8C5946

between B14C00 or 80360B
*/
a:link, a:visited {
    color: #80360B;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    transition: .2s ease;
    color: #0f0f0f;
    background: rgba(255, 255, 255, 0.8);
}

h2 {
    color: #1a1d16;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 24px;
    text-transform: lowercase;
}

h2:before { content: "\\ "; }

h3 {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
    text-transform: lowercase;
    text-align: center;
}

h3:before { content: "---- "; font-weight: normal; }
h3:after { content: " ----"; font-weight: normal; }
/*h3:after { content: " ---"; font-weight: normal; }*/

h4 {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 0;
}

h4 a {
    color: #0f0f0f !important;
}

h5 {
    color: #697558;
    color: #46563B;
    /* color: #536646; */
    /* color: #688058; */
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
    padding-left: 0;
}

h6 {
    margin-left: 15px;
    margin-bottom: 2px;
    font-size: 14px;
    font-weight: bold;
}

.gray {
    color: rgba(105, 117, 88, 0.5);
}

.small-text {
    font-size: 12px !important;
}

/* Wireframe */

#main-content section {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.3;
}

#main {
    width: 100%;
    max-width: 800px;
    position: relative;
    /*top: 30%;
    left: 50%;
    -ms-transform: translate(-50%, -30%);
    transform: translate(-50%, -30%);*/
    margin: 0 auto;
    clear: both;

}

#main-header {
    color: #f5f5f5;
    width: 200px;
    max-width: 25%;
    background: #cfcfcf;
    background: url(../img/bahai-haifa.jpg);
    height: 450px;
    background-size: cover;
    background-position: bottom center;
    position: fixed;
    top: 50%;
    -ms-transform: translateY(-55%);
    transform: translateY(-55%);
}



#main-header h1 {
    letter-spacing: 0;
    word-spacing: 999px;
    font-size: 40px;
    text-transform: lowercase;
    line-height: 1;
    color: #FCF4E9;
    position: relative;
    text-align: left;
}

#main-header h1 a {
    color: #FCF4E9;
    font-weight: normal;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 20px 0;
    padding-left: 9%;
    background: rgba(0, 0, 0, .5);
}

#main-header h1 a:before {
    content: ">>";
}
@keyframes blinking {
    50% { color: transparent; }
}

#main-header h1 a:after {
    content: "_";
    animation: blinking 2s step-end infinite;
}

#main-header h1 a:hover {
    transition: .25s ease;
    background: rgba(255, 255, 255, .6);
    color: #0f0f0f;
}

#main-header img {
    display: none;
}

#main-content {
    min-height: 450px;
    padding: 25px;
    padding-bottom: 10px;
    margin-left: 25%;
    background-color: #DFE1CC;
    color: #000;
}

#navigation {
    padding: 10px 10px 5px 15px;
    height: 25px;
    margin-left: 25%;
    margin-top: 25px;
    margin-bottom: 15px;
    position: relative;
    font-weight: lighter;
}

#sections {
    text-align: right;
}

#navigation li {
    display: inline-block;
    text-transform: lowercase;
    margin: 0;
}

#navigation a {
    text-decoration: none;
    color: #DFE1CC;
    font-weight: lighter;
}

#navigation a:hover {
    color: #0f0f0f;
}

#navigation li:after {
    content: " \\ ";
    color: #DFE1CC;
}

#navigation li:last-child:after {
    content: none;
}

#navigation li.selected a {
    color: #0f0f0f;
    background: rgba(255, 255, 255, .8);
}

#social {
    position: absolute;
    left: 25px;
    top: 10px;
    width: 25%;
}

#social li {
    padding-left: 2px;
}

#social li:after {
    content: none;
}

#social a:hover {
    color: #697558;
    background: none;
}

#footer {
    width: 100%;
    text-align: right;
    padding: 10px 0;
    font-size: 10px;
    color: #DFE1CC;
    margin-bottom: 10px;
}
#footer a {
    color: #DFE1CC;
    margin-right: 10px;
}
#footer a:hover {
    color: #0f0f0f;
}

#social-footer {
    display: none;
}

@media (min-height: 801px) {
    #main-header {
        position: fixed;
        top: 390px;
    }
}

@media (max-height: 625px) {
    #main-header {
        -ms-transform: none;
        transform: none;
        position: absolute;
        top: 40px;
        height: 100vh;
    }

    #main-header.fixed {
        width: 200px;
        position: fixed;
        margin: 0;
        top: 0;
    }
}

@media (max-width: 800px) {
    #main-header.fixed {
        width: 25%;
    }
}

/* iPhone 8 Plus horizontal */
@media (max-width: 736px) {
    #main-header h1 {
        font-size: 32px;
    }
    #main-header h1 a {
        padding-left: 15%;
        text-align: left;
    }
    #navigation {
        margin-top: 5px;
        margin-left: 0;
    }
    #footer {
        margin-bottom: 0;
    }
}
/* iPhone 8 horizontal */
@media (max-width: 667px) {
    #main-header h1 a {
        padding-left: 10%;
    }
}
/* iPhone SE horizontal */
@media (max-width: 568px) {
    #main-header h1 {
        font-size: 25px;
    }
    #main-header h1 a {
        padding-left: 13%;
    }
}

/* Vertical Layout */
@media (max-width: 534px) {
    #main-content {
        width: 100%;
        margin: 0;
    }

    #main-header {
        position: relative;
        transform: none;
        width: 65%;
        max-width: 100%;
        background-size: cover;
        background-position: center 60%;
        height: 120px;
        top: 0;
        right: 0;
        margin-right: 35%;
        margin-top: 45px;
    }
    #main-header h1 {
        position: absolute;
        height: 100%;
        width: 53%;
        right: -53%;
    }
    #main-header h1 a {
        background: rgba(255,255,255,.1);
    }

    #navigation {
        position: fixed;
        top: 0;
        margin-right: 0;
        background: #1a1d16;
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 15px;
        padding-bottom: 30px;
        z-index: 99999;
    }
    #sections {
        width: 100%;
        text-align: center;
    }

    #social {
        display: none;
    }

    #footer {
        padding: 15px 0;
    }

    #social-footer {
        display: block;
        position: absolute;
        font-size: 16px;
        letter-spacing: -2px;
        left: 15px;
        bottom: 12px;
    }
    #social-footer li {
        display: inline-block;
    }

    h2 {
        margin-top: -5px;
    }
}

@media(max-width: 400px) {
    #navigation {
        font-size: 14px;
    }
}

/* iPhone 8 vertical */
@media(max-width: 373px) {
    #main-header {
        height: 100px;
    }
    #main-header h1 {
        font-size: 20px;
    }
    #main-header h1 a {
        padding-left: 15%;
    }
}

@media(max-width: 355px) {
    #navigation {
        font-size: 12px;
        line-height: 15px;
    }
}


/* iPhone SE vertical */
@media(max-width: 320px) {
    #main-header {
        height: 90px;
        background-position: center 58%;
    }
    #main-header h1 a {
        padding-top: 12%;
    }
    #social-footer {
        letter-spacing: -6px;
    }
}

/* Experience Section */

.skills h3 {
    margin-bottom: 5px;
}
.experience-list > li {
    margin-bottom: 30px;
}
.experience-list p {
    margin-left: 15px;
    font-size: 13px;
    margin-bottom: 15px;
}

.period {
    float: right;
    text-align: right;
    font-weight: lighter;
    font-size: 14px;
    display: inline-block;
}

.experience-sublist {
    margin: 0 0 15px 15px;
    font-size: 14px;
}
.experience-sublist li {
    margin-top: 0;
    margin-bottom: 5px;
    list-style: square outside;
}
.inside-sublist li {
    list-style-position: inside;
}

.column-sublist {
    margin: 0 0 15px 15px;
    font-size: 12px;
}

.column-sublist li { hyphens: manual; display: block; padding: 0; }

.column-sublist > div:last-child {
    padding-right: 0;
}

.skill-list {
    margin-bottom: 15px;
}


.lang-label { font-size: 14px; color: #697558; }

.level-bars {
    text-align: right;
}

@media(max-width: 736px) {
    .experience h4 { font-size: 16px; }
    .experience h5 { font-size: 16px; }
    .experience h6 { font-size: 14px; }
    .period {
        font-size: 14px;
        float: none;
        display: inline;
    }
    .period:before {
        content: "\\ ";
    }

}

@media(max-width: 714px) {
    .experience h5 {
        font-size: 14px;
    }
    .period {
        line-height: 22px;
    }
    h5 .period {
        line-height: 15px;
    }
}

@media(max-width: 685px) {
    .lang-label { font-size: 10px; }
    .experience h4 {
        line-height: 22px;
    }

}
@media(max-width: 665px){
    .skill-list {
        font-size: 12px;
    }
}
@media(max-width: 620px) {
    .experience h4 {
        line-height: 18px;
    }
    .period {
        display: inline;
        float: none;
        text-align: left;
        line-height: 17px;
        font-size: 13px;
    }
}

@media(max-width: 574px) {
    .skills h4 {
        font-size: 16px;
        margin-bottom: 5px;
    }
    .skill-list {
        font-size: 14px;
    }
    .lang-label { font-size: 12px; }

}

@media(max-width: 485px) {
    .experience-list > li {
        margin-bottom: 20px;
    }

    .period:before {
        content: none;
    }
    .period {
        display: block;
        margin: 2px 0 0 0 ;
    }
    h5 .period {
        display:  inline;
    }
    h5 .period:before {
        content: "\\ ";
    }
}



/* Project Section */

.project-list h4, .project-list h5 {
    margin-left: 24%;
}
.project-list li, .project-list li p:last-child {
    margin-bottom: 25px;
}

.project-list p {
    margin-left: 24%;
    padding-right: 25px;
    width: 80%;
}

.project-list .preview {
    float: left;
    margin-bottom: 20px;
    margin-right: 15px;
    margin-top: 3px;
    width: 20%;
}

@media(max-width: 574px) {
    .project-list h4, .project-list h5 {
        margin-left: 0;
    }
    .project-list p {
        width: 100%;
        margin-left: 10px;
        padding-right: 0;
    }
    .project-list .preview {
        float: right;
        width: 25%;
        margin-right: 0;
        margin-left: 20px;
    }
}

@media(max-width: 543px) {
    .project-list .preview {
        width: 30%;
    }
}

@media(max-width: 470px) {
    h3:before { content: "-- "; }
    h3:after { content: " --"; }
}
@media(max-width: 420px) {
    h3:before { content: "-"; }
    h3:after { content: "-"; }
}
@media(max-width: 374px) {
    h3:before { content: ""; }
    h3:after { content: ""; }
}

/* Music Section */

.music > p {
    font-size: 16px !important;
}

.music img {
    margin-bottom: 10px;
}

.music .experience-sublist li {
    margin: 0;
    font-size: 13px;
}

.music-videos {
    margin: 0 -5px;
    margin-top: 10px;
    font-size: 12px;
}
.music-videos p {
    margin-top: 10px;
}
.music-videos li {
    padding: 0 5px;
}


.music h4 {
    margin-bottom: 5px;
}

.conducting p {
    margin-left: 29%;
}
.conducting .img-highlights {
    float: left;
    width: 25%;
    margin-right: 20px;
    margin-bottom: 0;
}
@media (max-width: 701px) {
    .conducting p {
        margin-left: 0;
    }
}
@media (max-width: 578px) {
    .piano .experience-sublist {
        font-size: 12px;
    }
    .piano .img-highlights, .violin .img-highlights {
        text-align: center;
        margin-bottom: 10px;
    }
    .piano img {
        height: 85px;
        margin-right: -6px;
    }
    .music-videos li {
        margin-bottom: -5px;
    }

    .violin img {
        height: 100px;
        margin-right: -6px;
    }

    .conducting .img-highlights {
        float: left;
        width: 30%;
        margin-right: 20px;
        margin-left: 0;
        padding: 0;
        text-align: right;
        display: inline-block;
    }
}
@media (max-width: 400px) {
    .piano .img-highlights {
        text-align: left;
    }
    .piano .hidden {
        display: none;
    }
    .piano img {
        height: 120px;
    }

    .violin img {
        height: 90px;
    }
    .conducting .img-highlights {
        width: 43%;
    }
}
@media (max-width: 370px) {
    .piano .img-highlights {
        text-align: center;
    }
    .piano .hidden {
        display: none;
    }
    .piano img {
        height: 100px;
    }
    .violin img {
        height: 75px;
    }
}
